<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">系统设置</a></li>
        <li class="active">焦点图设置</li>
        <li class="active">添加焦点图</li>
    </ul>

    <div class="page-header clearfix">
        <h3>焦点图设置</h3>
        <ul class="nav nav-tabs">    
            <li>
                <a href="{:U('Advert/advertList')}">焦点图列表</a>
            </li>
            <li class="active">
                <a href="{:U('Advert/addAdvert')}">添加焦点图</a>
            </li>
        </ul>
    </div>

    <div class="content-box-content">
        <form action="{:U('Advert/addAdvert')}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="ad_desc" class="col-sm-3 control-label">焦点图描述：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="ad_desc" name="ad_desc">
                </div>
            </div>
            <div class="form-group">
                <label for="ad_url" class="col-sm-3 control-label">网页链接：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="ad_url" name="ad_url">
                </div>
            </div>
            <div class="form-group">
                <label for="sort_order" class="col-sm-3 control-label">排　　序：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="sort_order" name="sort_order" value="0"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">焦点图图片：</label>
                <div class="col-sm-9">
                    <a class="ad_pic" style="cursor: pointer" onclick="$(this).next().click()">上传焦点图</a>
                    <input id="fileToUpload" style="display: none" type="file" name="Filedata" onchange="uploadLogo()">
                    <input id="ad_pic_url" name="ad_pic_url" type="hidden">
                    <div>
                        <img src="" id="ad_pic" style="max-width:700px;height: auto">
                    </div>
                    <div class="prompt-div">建议上传轮播图片的为大小1920*980</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-default btn-primary">确认添加</button>
                </div>
            </div>
        </form>
    </div>
</div>
<include file="Public:footer"/>
<script src="__WEBPUBLIC__/Home/js/plugins/ajaxfileupload.js"></script>
<script>
    function uploadLogo() {
        $.ajaxFileUpload({
            url:'{:U("Advert/uploadAdvertLogo")}',
            fileElementId:'fileToUpload',//file标签的id
            dataType: 'json',//返回数据的类型
            success: function (data, status) {
                $("#ad_pic_url").val(data.imgurl);
                if(data.success){
                    $('#ad_pic').attr("src","__WEBROOT__/Uploads/"+ data.imgurl).css('height','auto');
                    $(".ad_pic").text('点击更换');
                }else{
                    $.alert(data.error);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                $.alert(e);
            }
        });
    }
</script>
