<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">海外区域管理</a></li>
        <li class="active">区域信息列表</li>
    </ul>

    <div class="page-header clearfix">
        <h3>海外区域管理</h3>
        <ul class="nav nav-tabs">    
            <li class="active">
                <a href="{:U('Region/regionList')}">区域信息列表</a>
            </li>
            <li>
                <a href="{:U('Region/addRegion')}">添加区域信息</a>
            </li>
        </ul>
    </div>
    <div class="content-box-content">
            <table class="table table-striped table-framed table-hover">
                <thead>
                <tr>
                    <th>国家名称</th>
                    <th>父级区域名称</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <!--标题 end-->

                <!--内容 start-->
                <tbody class="tbody">
                <if condition="empty($region_list)">
                    <tr><td colspan="10"><span style="font-size:14px;">暂无数据</span></td></tr>
                </if>
                <volist name="region_list" id="region">
                    <tr>
                        <td>{$region['region_name']}</td>
                        <td>海外</td>
                        <td>
                            <a href="{:U('Region/editRegion',array('region_id'=>$region['region_id']))}" title="编辑" class="modify">
                                <span class="icon glyphicon glyphicon-pencil"></span>
                            </a>&nbsp;
                            <a href="#" title="删除" class="delete-delete">
                                <span class="icon glyphicon glyphicon-remove"></span>
                            </a>
                            <input type="hidden" value="{:U('Region/deleteRegion',array('region_id'=>$region['region_id']))}">
                        </td>
                    </tr>
                </volist>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="20">
                        <div class="fr">
                            {$page}
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
    </div>
</div>
<include file="Public:footer"/>
