<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/lang/zh_CN.js"></script>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">站内信管理</a></li>
        <li class="active"><a href="">邮件</a></li>
        <li class="active">发送邮件</li>
    </ul>
    <div class="page-header clearfix">
        <h3>邮件管理</h3>
        <ul class="nav nav-tabs">
            <li>
                <a href="{:U('Letter/messageList')}">邮件列表</a>
            </li>
            <li class="active">
                <a href="{:U('Letter/addOne')}">发送邮件</a>
            </li>
        </ul>
    </div>

    <div class="content-box-content">
        <form action="{:U('Letter/addOne')}" method="post" class="form-horizontal" enctype="multipart/form-data">

            <div class="form-group">
                <label class="col-sm-3 control-label">收信人</label>
                <div class="col-sm-9">
                    <select  name="to_id" >
                    <volist name="member" id="member">
                            <option value="{$member['m_id']}">{$member['m_account']}</option>
                    </volist>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">项目名称</label>
                <div class="col-sm-9">
                    <select  name="t_id" >
                        <volist name="task_list" id="task" >
                            <option value="{$task['t_id']}">{$task['name']}</option>
                        </volist>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">邮件内容：</label>
                <div class="col-sm-9">
                    <textarea name="le_content" id="le_content" style="width:700px; height:200px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default btn-primary">发送</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--主页面 end-->
<script type="text/javascript">
    $(document).ready(function(){
      /*  KindEditor.ready(function(K){
            window.editor = K.create('#le_content',{
                items:[
                    'source', '|', 'undo', 'redo', '|','indent','outdent', 'cut', 'copy','|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'clearhtml', 'selectall', '|', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor',
                    'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough','image','link'
                ],
                afterBlur:function(){this.sync();}
            });
        });*/

    });
</script>
<include file="Public:footer"/>
