<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/lang/zh_CN.js"></script>
<style>
    .select_aim_a{
        display: none;
        cursor: pointer;
        margin-left: 15px;
    }
    .aim_list_box{
        height: 400px;
        width:700px;
        border: 2px solid gold;
        border-radius: 5px;
        display: none;
        margin-left: 15px;
    }
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
    </ul>

    <div class="content-box-content">
        <form action="{:U('Letter/doSendEmail')}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-3 control-label">收件人：</label>
                <div class="col-sm-9">
                    <select name="le_aim" style="width:100px;">
                        <option value="所有用户">所有用户</option>
                        <!--<option value="在线用户">在线用户</option>-->
                        <!--<option value="不在线用户">不在线用户</option>-->
                        <option value="实名用户">实名用户</option>
                        <!--<option value="未实名用户">未实名用户</option>-->
                        <!--<option value="自定义">自定义</option>-->
                    </select>
                    <a class="select_aim_a">已选择0人</a>
                    <input type="hidden" name="aim_list">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="aim_list_box col-sm-9">
                    已选择：
                    <hr/>

                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">主题：</label>
                <div class="col-sm-9">
                    <input name="le_title" id="le_title" style="width:700px;"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-9">
                    <textarea name="le_content" id="le_content" style="width:700px; height:450px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default btn-primary">发送</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K){
        editor = K.create("#le_content", {
            'items': [
                "source",
                "preview",
                /*"|",*/
                "undo",
                "redo",
                /*"clearhtml",
                 "quickformat",
                "removeformat",*/
                "unlink",
                "fullscreen",
                "/",
                /*"print",
                "template",
                "code",
                "cut",
                "copy",
                "paste",
                "plainpaste",
                "wordpaste",
                "|",*/
                "justifyleft",
                "justifycenter",
                "justifyright",
                /*"justifyfull",*/
                "insertorderedlist",
                "insertunorderedlist",
                "indent",
                "outdent",
                "subscript",
                "superscript",
                /*"selectall",*/
                "|",
                "formatblock",
                "fontname",
                "fontsize",
                "|",
                "forecolor",
                "hilitecolor",
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "lineheight",
                "|",
                "image",
                /*"multiimage",
                "flash",
                "media",
                "insertfile",*/
                "table",
                "hr",
                "emoticons",
                /*"baidumap",
                "pagebreak",
                "anchor",*/
                "link",
                /*"|",
                "about"*/
            ],
        })
    })
</script>
<include file="Public:footer"/>
<script>
    $(function(){
        $(".select_aim_a").click(function(){
            $(".aim_list_box").slideToggle();
        });
        $("select[name='le_aim']").change(function(){
            var v = $(this).val();
            console.log(v);
            switch(v) {
                case '所有用户':
                case '在线用户':
                case '不在线用户':
                case '实名用户':
                case '未实名用户':
                    //alert("测试阶段暂时不开放以上功能。");
                    /*$(this).val('自定义').change();
                    $(".aim_list_box").slideUp();*/
                    break;
                case '自定义':
                    $(".select_aim_a").show();
                    break;
            }
        })
    })
</script>
