<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <div class="content-box">

        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">邀请码管理</a></li>
            <li class="active">添加邀请码</li>
        </ul>
        <div class="page-header clearfix">
            <h3>邀请码管理</h3>
            <ul class="nav nav-tabs">
                <li>
                    <a href="{:U('Invitation/invitationList')}">邀请码列表</a>
                </li>
                <li class="active">
                    <a href="{:U('Invitation/addInvitation')}">添加邀请码</a>
                </li>
            </ul>
        </div>

        <div class="content-box-content">
            <div class="form-group">
                <label for="invitation_code" class="col-sm-3 control-label"><em class="prompt-red">*</em>邀&nbsp;请&nbsp;码：</label>

                <div class="col-sm-9">
                    <textarea id="invitation_code" class="text-area" rows="5" cols="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="m_email" class="col-sm-3 control-label"><em
                        class="prompt-red">*</em>邮&nbsp;箱：</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="m_email" name="m_email"
                           placeholder="12345678@qq.com">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-default btn-primary" onclick="generate()">生成</button>
                    <button type="button" class="btn btn-default btn-primary" onclick="sendMail()">发到邮箱</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function generate() {
        var redirect = "{:U('Invitation/generateInvitation')}";
        $.ajax({
            type: 'POST',
            url: redirect,
            data: {},
            success: function (data) {
                if (data.flag == 0) {
                    $('#invitation_code').val(data.message);
                } else {
                    alert('生成邀请码失败！');
                }
            },
            dataType: 'JSON'
        });
    }
    function sendMail() {
        if (!$('#m_email').val()) {
            return;
        }
        var redirect = "{:U('Invitation/sendMail')}";
        $.ajax({
            type: 'POST',
            url: redirect,
            data: {
                email: $('#m_email').val(),
                url: $('#invitation_code').val()
            },
            success: function (data) {
                if (data.flag == 0) {
                    $('#invitation_code').val("发送成功");
                } else {
                    alert('生成邀请码失败！');
                }
            },
            dataType: 'JSON'
        });
    }
</script>
<include file="Public:footer"/>