<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<style>
    .form-inline{
        display: inline-block;
        width: 300px;
    }
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active"><a href="">{$order}</a></li>
    </ul>

    <include file="Public:notification"/>
    <div class="search-content">
        <form action="{:U('Detauls/already')}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_mid">请输入订单编号</label>
                <input class="earch-input form-control" id="order_number" type="text" name="order_number" placeholder="请输入订单编号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
        
        <form action="{:U('Detauls/already')}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_maccount">请输入ID号</label>
                <input class="earch-input form-control" id="order_id" type="text" name="order_id" placeholder="请输入ID号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
         <form action="{:U('Detauls/already')}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_maccount">请输入用户的ID号</label>
                <input class="earch-input form-control" id="login_id" type="text" name="login_id" placeholder="请输入用户的ID号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
    </div>
    <div class="content-box-table content-box-content">
        <form action="{:U('Detauls/deleteMem')}" method="post" class="batch-form">
            <table class="table table-striped table-framed table-hover">
                <thead>
                <tr>
                    <th width="3%">订单ID</th>
                    <th width="5%">订单编号</th>
                    <th width="5%">用户名</th>
                    <th width="5%">下单时间</th>
                    <th width="5%">付款时间</th>
                    <th width="6%">付款方式</th>
                    <th width="5%">订单状态</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <if condition="empty($data)">
                    <tr>
                        <td colspan="20"><span style="font-size:14px;">暂无数据</span></td>
                    </tr>
                </if>
                <volist name="data" id="da">
                    <tr>
                        <td><input type="checkbox" class="delCheck" value="{$da['login_id']}"/>&nbsp;&nbsp;{$da['order_id']}</td>
                        <td>{$da['order_number']}</td>
                        <td>{$da['user_account']|default="未填写用户名"}</td>
                        <td>{$da['order_time']|date='Y-m-d H:i:s',###}</td>
                        <td>
                            <if condition="$da['order_ptime'] neq 0">
                                <i>{$da['order_ptime']|date='Y-m-d H:i:s',###}</i>
                            </if>
                        <td>
                            <if condition="$da['order_pmethod'] eq 0">
                                <!--<i style="color: red">未付款</i>-->
                                <elseif condition="$da['order_pmethod'] eq 1"/>
                                <i>支付宝</i>
                                <elseif condition="$da['order_pmethod'] eq 2"/>
                                <i>微信</i>
                            </if>
                        </td>
                        <td>
                            <if condition="$da['order_status'] eq 0">
                                <i style="color:red">未付款</i>
                                <elseif condition="$da['order_status'] eq 1"/>
                                <i>待发货</i>
                                <elseif condition="$da['order_status'] eq 2"/>
                                <i>已发货</i>
                                <elseif condition="$da['order_status'] eq 3"/>
                                <i>交易完成</i>
                                <elseif condition="$da['order_status'] eq 9"/>
                                <i style="color: red">订单已取消</i>
                            </if>
                       </td>
                        
                        <td>
                            <a href="{:U('Detauls/orderdetails',array('order_id'=>$da['order_id']))}">查看详情</a>
                            &nbsp;&nbsp;
                            <if condition="$da['order_status'] eq 0">
                                <a href="" name="{$da['order_id']}" class="quxiao">取消订单</a>
                            </if>
                        </td>
                    </tr>
                </volist>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="20">
                        <div class="bulk-actions fl">
                            <!--<input type="button" class="btn delete-batch" value="批量取消订单">-->　
                        </div>
                        <div class="fr">
                            {$page}
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.quxiao').click(function(){
              if(confirm('确定要取消此订单吗？')){
                
                var order_id = $(this).attr("name");
                $.ajax({
                    'url':'{:U("Detauls/cancel")}',
                    'type':'post',
                    'data':{
                        order_id:order_id,
                    },
                    success: function(data){
                        data = JSON.parse(data);
                        if(data.success){
                            alert(data.success);
                            $(".delCheck").each(function(){
                                $(this).attr("checked",false);
                            })
                            location.reload();
                        }else{
                            alert(data.error);
                        }
                    }
                })
                
              }  
        });

    });

    $(document).ready(function(){
        //批量删除
        $('.delete-batch').click(function(){
            if(confirm('确定要执行批量删除操作吗？')){
                var ids = [];
                //获取选中的信息
                $(".delCheck").each(function(){
                    if($(this).is(":checked")){
                        ids.push($(this).val());
                    }
                })
                id = ids.join(',');
                if(id != ''){
                    $.ajax(
                            {
                                'url':'{:U("Member/deleteMemberAll")}',
                                'type':'post',
                                'data':{
                                    id:id,
                                },
                                success: function(data){
                                    data = JSON.parse(data);
                                    if(data.success){
                                        alert(data.success);
                                        $(".delCheck").each(function(){
                                            $(this).attr("checked",false);
                                        })
                                        location.reload();
                                    }else{
                                        alert(data.error);
                                    }
                                }
                            }
                    )
                }
            }
        });
    });
</script>
<include file="Public:footer"/>
