<include file="Public:header"/>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<style>
    .form-horizontal .control-label{
        padding-top: 0px;
    }
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active"><a href="">订单管理</a></li>
        <li class="active"><a href="">订单号:{$da['order_number']}</a></li>
    </ul>

    <div id="tabs-content" class="content-box-content">
        <div class="ul">
            <form class="form-horizontal col-sm-12" >
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">订单编号:</label>
                    <div class="col-sm-9">
                       <span>{$da['order_number']}</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">快递单号:</label>
                    <div class="col-sm-9">
                        <span>{$da['details_order']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">收货人姓名:</label>
                    <div class="col-sm-9">
                        <span>{$da['details_name']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">收货人电话:</label>
                    <div class="col-sm-9">
                        <span>{$da['details_number']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">收货人地址:</label>
                    <div class="col-sm-9">
                       <span>{$da['details_address']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">商品名称:</label>
                    <div class="col-sm-9">
                        <span>{$da['commodity']}</span>
                    </div>
                </div>
               
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">商品单价:</label>
                    <div class="col-sm-9">
                        <span>{$da['details_moneyf']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">商品数量:</label>
                    <div class="col-sm-9">
                       <span>{$da['quantity']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">订单总金额</label>
                    <div class="col-sm-9">
                        <span>{$da['details_money']}</span>
                    </div>
                </div>
                
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">支付宝账号：</label>
                    <div class="col-sm-9">
                        <span>{$da['alipayid']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">真实姓名：</label>
                    <div class="col-sm-9">
                        <span>{$da['user_name']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">邮箱：</label>
                    <div class="col-sm-9">
                       <span>{$da['login_email']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">电话：</label>
                    <div class="col-sm-9">
                        <span>{$da['login_number']}</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">是否实名认证：</label>
                    <div class="col-sm-9">
                        <if condition="$da['user_status'] eq 0">
                            <i style="color: grey">未实名</i>
                            <elseif condition="$da['user_status'] eq 1"/>
                            <i style="color: green">待审核</i>
                            <elseif condition="$da['user_status'] eq 2"/>
                            <i style="color: #B06930">已实名</i>
                            <elseif condition="$da['user_status'] eq 3"/>
                            <i style="color: red">审核不通过</i>
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">是否推荐：</label>
                    <div class="col-sm-9">
                        <if condition="$member['is_recommend'] eq 1">
                            <i style="color: green">是</i>
                            <else/>
                            否
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" onclick="history.go(-1);" class="btn btn-default btn-primary">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file="Public:footer"/>