<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <div class="content-box">

        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="active"><a href="{:U('Manufactor/merchant')}">厂家列表</a></li>
            <li class="active">{$da['manufactor_name']}</li>
        </ul>
        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <form action="{:U('Manufactor/addMem')}" method="post" class="form-horizontal" enctype="multipart/form- data">
                <div class="form-group ">
                    <label for="m_account" class="col-sm-3 control-label">厂&nbsp;家&nbsp;名&nbsp;称：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="manufactor_name" name="manufactor_name" value="{$da['manufactor_name']}" placeholder="">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="m_email" class="col-sm-3 control-label">LOGO：</label>
                    <div class="col-sm-9">
                        <img src="__WEBROOT__/Uploads/Head/default/default.jpg" style="width:80px;height:80px;float:left;">
                        <input type="file" style="float:left;margin-top:60px;margin-left:20px;">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="m_email" class="col-sm-3 control-label">厂&nbsp;家&nbsp;账&nbsp;户：</label>
                    <div class="col-sm-9">
                       <input type="text" class="form-control" id="manufactor_account" name="manufactor_account" value="{$da['manufactor_account']}" style="float:left" placeholder=""><span style="margin-top:10px; color:red;float:left;">不可修改</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="m_email" class="col-sm-3 control-label">电&nbsp;话&nbsp;号：</label>
                    <div class="col-sm-9">
                       <input type="text" class="form-control" id="manufactor_contact" name="manufactor_contact" value="{$da['manufactor_contact']}" placeholder="">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="m_email" class="col-sm-3 control-label">地&nbsp;&nbsp;&nbsp;址：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="manufactor_address" name="manufactor_address" value="{$da['manufactor_address']}" placeholder="">
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-default btn-primary">确认修改</button>
                    </div>
                </div>
            </form>
            <!--表单 end-->
        </div>
    </div>
</div>
<include file="Public:footer"/>
