<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<style>
    .form-inline{
        display: inline-block;
        width: 300px;

    }
    li{
        list-style: none;
        float: left;
        margin: 0px 0px;
    }

</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
    </ul>

    <include file="Public:notification"/>
    <div class="search-content">
        <form action="{:U('Product/prosousuo',array('ss'=>'no'))}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_mid">请输入产品编号</label>
                <input class="earch-input form-control" id="con_mid" type="text" name="cmdinfo_no" placeholder="请输入产品编号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
        <form action="{:U('Product/prosousuo',array('ss'=>'name'))}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_maccount">请输入产品名</label>
                <input class="earch-input form-control" id="con_maccount" type="text" name="cmdinfo_name" placeholder="请输入产品名称"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>

    </div>
    <div class="content-box-table content-box-content">
        <form action="{:U('Product/shelvespro')}" method="post" class="batch-form" onsubmit="return shangjia()">
            <table class="table table-striped table-framed table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th >产品编号</th>
                    <th >是否上架</th>
                    <th>产品名称</th>
                    <th >产品图片</th>
                    <th >产品介绍</th>
                    <th >价格</th>
                    <th >所属分类</th>
                    <th >所属商家</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <if condition="empty($list)">
                    <tr>
                        <td colspan="20"><span style="font-size:14px;">暂无数据</span></td>
                    </tr>
                </if>
                <volist name="list" id="lis">
                    <tr>
                        <td><input type="checkbox" name="checkbox[]" class="delCheck" value="{$lis['cmdinfo_no']}"/>
                        </td>
                        <td>{$lis['cmdinfo_no']}</td>
                        <td>
                            <eq name="lis['cmdinfo_status']" value="0">
                            未上架
                                <else/>
                                已上架
                            </eq>
                        </td>
                        <td>{$lis['cmdinfo_name']}</td>
                        <td><img src="__WEBUPL__/{$lis['cmdinfo_img']}" style="width: 50px;height: 50px" alt=""/></td>
                        <td>{$lis['cmdinfo_br']}</td>
                        <td>{$lis['cmdinfo_price']}</td>
                        <td>
                            {$lis['cmd_name']}
                        </td>
                        <td>
                            {$lis['name']}
                        </td>
                        <td>
                            <a href="{:U('Product/updatepro',array('no'=>$lis['cmdinfo_no']))}">修改</a>
                            &nbsp;&nbsp;
                            <a href="{:U('Product/proattr',array('no'=>$lis['cmdinfo_no']))}">属性</a>

                        </td>
                    </tr>
                </volist>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="20">

                        <div class="bulk-actions fl">
                            <button type="submit" class="btn btn-primary">上架选中的</button>
                            <input type="button" class="btn delete-batch delete" value="删除选中的">　
                        </div>
                        <div class="green-black">
                            {$page}
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    function shangjia() {
        if(confirm('确定上架操作吗？')){
            return true
        }else {

            return false
        }
    }

    $(document).ready(function(){
        //批量删除
        $('.delete').click(function(){
            if(confirm('确定要执行批量删除操作吗？')){
                var ids = [];
                //获取选中的信息
                $(".delCheck").each(function(){
                    if($(this).is(":checked")){
                        ids.push($(this).val());//在数组后存入值
                    }
                })
                id = ids.join(',');//将数组拼接成字符串
                if(id != ''){
                    $.ajax(
                            {
                                'url':'{:U("Admin/Product/deleteall")}',
                                'type':'post',
                                'dataType':"JSON",
                                'data':{
                                    id:id,
                                },
                                success: function(data){

                                    data = JSON.parse(data);

                                    if(data.success){
                                        alert(data.success);
                                        $(".delCheck").each(function(){
                                            $(this).attr("checked",false);
                                        })
                                        location.reload();//重新加载当前文档
                                    }else{
                                        alert(data.error);
                                    }
                                }
                            }
                    )
                }
            }
        });
    });
</script>
<include file="Public:footer"/>
