<include file="Public:header"/>
<!--个人信息编辑-->
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__WEBPUBLIC__/Common/kindeditor/lang/zh_CN.js"></script>
<div id="main-content" class="content">
    <div class="content-box">

        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">作品管理</a></li>
            <li class="active">发布作品</li>
        </ul>
        <div class="page-header clearfix">
            <h3>发布作品</h3>
            <ul class="nav nav-tabs">    
                <li>
                    <a href="{:U('Work/workList')}">作品列表</a>
                </li>
                <li class="active">
                    <a href="#">发布作品</a>
                </li>
            </ul>
        </div>
<section class="page-mysharing">
  <div class="selfinfo-page">
    <div class="password-page-inner">
      <div class="mysharing-content">
          <div class="sharing-box" style="width: 70%;">
              <div class="sharing-box-title" style="text-align: left">
                  <div style="width: 70%; display: inline-block;">
                      <div style="margin: 2	rem 0rem;margin-top:50px;">
                          <label>标题：</label><input type="text" id="work-article-name" style="width:50%">
                          &nbsp;<a class="small" style="color: #aaa !important;"> 还可以输入40个字符</a>
                      </div>
                  </div>
                  <div class="work-article-head" style="width: 150px;float: right;margin-bottom: 10px;">
                      <div style="max-height: 100px;overflow: hidden;"><img src="" id="work-article-head" style="height:95px;width: 150px;"></div>
                      <a class="button_a_style_mini" onclick="$(this).next().click()" style="margin: auto; display: block;width: 150px;text-align: center;">点击上传封面</a>
                      <input id="fileToUpload" style="display: none" type="file" name="Filedata" onchange="uploadImg()">
                      <input id="work-article-head-url" type="hidden">
                  </div>
              </div>
              <div class="sharing-box-content" style="text-align: left;padding: 10px 0;margin-bottom: 20px">
                  <textarea name="le_content" id="le_content" style="width: 100%;min-height: 400px"></textarea>
              </div>
              <div class="sharing-box-footer">
                  <a class="button_a_style_nor" onclick="yulanArticle()">预览</a>
                  <a class="button_a_style_nor" onclick="sharArticle()" style="margin-left: 100px;width: 150px">发布</a>
                  <p style="padding: 30px 0 0;font-size: 14px !important;">发布后文章内容不可修改，如担心排版问题可点击预览。</p>
              </div>
          </div>
      </div>
    </div>
  </div>
 </div>
</div>
</section>

<include file="Public:footer"/>
<script src="__WEBPUBLIC__/Home/js/plugins/ajaxfileupload.js"></script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K){
        editor = K.create("#le_content", {
            'items': [
                "source",
                "preview",
                /*"|",*/
                "undo",
                "redo",
                /*"clearhtml",*/
                /*"quickformat",*/
                "removeformat",
                "unlink",
                "fullscreen",
                "/",
                /*"print",
                 "template",
                 "code",
                 "cut",
                 "copy",
                 "paste",
                 "plainpaste",
                 "wordpaste",
                 "|",*/
                "justifyleft",
                "justifycenter",
                "justifyright",
                /*"justifyfull",*/
                "insertorderedlist",
                "insertunorderedlist",
                "indent",
                "outdent",
                "lineheight",
                /*"selectall",*/
                "|",
                "formatblock",
                /*"fontname",*/
                "fontsize",
                "subscript",
                "superscript",
                "|",
                "forecolor",
                "hilitecolor",
                "bold",
                "italic",
                "underline",
                /*"strikethrough",*/
                "|",
                "image",
                "multiimage",
                "media",
                /*
                 "flash",
                 "insertfile",
                 "table",*/
                "hr",
                /*"emoticons",*/
                /*"baidumap",
                 "pagebreak",
                 "anchor",*/
                "link",
                /*"|",
                 "about"*/
            ],
        })
    })
    function yulanArticle(){
        $(".ke-icon-preview").click();
    }
    function sharArticle(){
        var content = editor.html();
        var has_video = /<iframe[^<>]*?>\s*<\/iframe>/.test(content);
        var data = {
            'work-article-type': $("input[name='work-article-type']:checked").val(),
            'work-article-name': $('#work-article-name').val(),
            'work-article-content': content,
            'work-article-head-url': $("#work-article-head-url").val(),
            'has_video':has_video?1:0
        };
        if(!data['work-article-name']){
            alert("文章标题不能为空，请填写后再发布！");
            return;
        }
        if(!data['work-article-content']){
            alert("文章内容不能为空，请填写后再发布！");
            return;
        }
        if(!data['work-article-head-url']){
            alert("请上传文章封面图后再发布！");
            return;
        }
        var l = 40 - getStrLength($("#work-article-name").val());
        if(l < 0){
            alert("标题已超过"+-l+'个字符');
            return;
        }
        $.ajax({
            type: 'post',
            url: "{:U('MemberCenter/sharArticle')}",
            data:data,
            success: function (data) {
                data = JSON.parse(data);
                if(data.notlogin){
                    alert("请登录后再进行操作");
                    login();
                    return;
                }
                if (data.success) {
                    alert(data.success);
                    showScore(data.score_success);
                    setTimeout(function(){
                        window.location.href="__ROOT__/index.php/Admin/{:U('Work/WorkList')}";
                    },1500)
                }
                else {
                    alert(data.error);
                }
            },
        })
    }
</script>
<script>
    function uploadImg() {
        $.ajaxFileUpload({
            url:'{:U("MemberCenter/uploadPhoto")}',
            fileElementId:'fileToUpload',//file标签的id
            dataType: 'json',//返回数据的类型
            success: function (data, status) {
                $("#work-article-head-url").val(data.imgurl);
                if(data.success){
                    $('#work-article-head').attr("src","__WEBROOT__/Uploads/"+ data.imgurl).css('height','auto');
                    $(".work-article-head .button_a_style_mini").text('点击更换封面');
                }else{
                    alert(data.error);
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
				alert(e);
            }
        });
    }
</script>
<script>
    $(function(){
        $("#work-article-name").keyup(function(){
            var l = 40 - getStrLength($(this).val());
            if(l >= 0)$(this).next('a').text('还可以输入'+l+'个字符').attr('style','color:#aaa !important');
            else $(this).next('a').text('已超过'+-l+'个字符').attr('style','color:red !important');
        });
    })
    function getStrLength(str) {
        var cArr = str.match(/[^\x00-\xff]/ig);
        return str.length + (cArr == null ? 0 : cArr.length);
    }
</script>