<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
    </ul>
    <div class="search-content">
        <form action="{:U('Work/WorkList')}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_workid">请输入作品编号</label>
                <input class="earch-input form-control" id="con_workid" type="text" name="con_workid" placeholder="请输入作品编号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
    </div>
    <div class="content-box-content">
        <table class="table table-striped table-framed table-hover">
            <thead>
            <tr>
                <th width="5%">作品ID</th>
                <th width="5%">作者用户名</th>
                <th width="5%">作品名称</th>
                <th width="5%">作品类型</th>
                <th width="8%">上传时间</th>
                <th width="5%">是否审核通过</th>
                <th width="5%">操作</th>
                <th width="5%">排序</th>
            </tr>
            </thead>
            <!--标题 end-->

            <!--内容 start-->
            <tbody class="tbody">
            <if condition="empty($Work_list)">
                <tr><td colspan="10"><span style="font-size:14px;">暂无数据</span></td></tr>
            </if>
            <volist name="Work_list" id="Work_list">
                <tr>
                    <td><input type="checkbox" value="{$Work_list['work_id']}" class="delCheck" />&nbsp;&nbsp;{$Work_list['work_id']}</td>
                    <td>{$Work_list['m_account']|default="PITCHINA用户"}</td>
                    <td>{$Work_list['name']}</td>
                    <td>
                        <if condition="$Work_list['type'] eq 3">
                            文章
                            <elseif condition="$Work_list['type'] eq 2"/>
                            视频
                            <elseif condition="$Work_list['type'] eq 1"/>
                            图片
                        </if>
                    </td>
                    <td>{$Work_list['ctime']|date='Y-m-d H:i:s',###}</td>
                    <td>
                        <if condition="$Work_list['status'] eq 0">
                            <i style="color: #010101;">审核中</i>
                            <elseif condition="$Work_list['status'] eq 1"/>
                            <i style="color: green">通过</i>
                            <elseif condition="$Work_list['status'] eq 2"/>
                            <i style="color: red">不通过</i>
                        </if>
                    </td>
                    <td>
                        <a href="{:U('Work/workDetail',array('work_id'=>$Work_list['work_id']))}">查看</a>
                        &nbsp;&nbsp;
                        <a href="{:U('Work/deleteWork',array('work_id'=>$Work_list['work_id']))}">删除</a>
                    </td>
                    <td>
                        <input type="text" value="{$Work_list['focus']}" class="sort_order only-num" title="点击填写，再点击其他地方自动修改">
                        <input type="hidden" value="{$Work_list['work_id']}">
                    </td>
                </tr>
            </volist>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="20">
                    <div class="bulk-actions fl">
                        <input type="button" class="btn delete-batch" value="批量删除">　
                    </div>
                    <div class="fr">
                        {$page}
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //批量删除
        $('.delete-batch').click(function(){
            if(confirm('确定要执行批量删除操作吗？')){
                var ids = [];
                //获取选中的信息
                $(".delCheck").each(function(){
                    if($(this).is(":checked")){
                        ids.push($(this).val());
                    }
                })
                id = ids.join(',');
                if(id != ''){
                    $.ajax(
                            {
                                'url':'{:U("Work/deleteWorkAll")}',
                                'type':'post',
                                'data':{
                                    id:id,
                                },
                                success: function(data){
                                    data = JSON.parse(data);
                                    if(data.success){
                                        alert(data.success);
                                        $(".delCheck").each(function(){
                                            $(this).attr("checked",false);
                                        })
                                        location.reload();
                                    }else{
                                        alert(data.error);
                                    }
                                }
                            }
                    )
                }
            }
        });
    });

    $(document).ready(function(){
        //修改排序
        $('.sort_order').blur(function(){
            var data = {
                'id':$(this).next('input').val(),
                'focus':$(this).val()
            }
            // var id = $(this).next('input').val();
            // var sort = $(this).val();
            // ajaxEditSort('{:U("HomepageManager/editSort")}',id,sort);
            $.ajax({
                url:'{:U("HomepageManager/articlesort")}',
                type:'POST',
                data:data,
                dataType: 'json',
                success:function (data){
                    alert(data['info']);
                    window.location.reload();
                }
            });
        });
    });
</script>
<include file="Public:footer"/>
