<include file="Public:header"/>
<!-- 通过审核-->
<form id="isPass1" action="{:U('Production/verifyProduction')}" method="post" >
    <input type="hidden" name="isPass" value="1">
    <input type="hidden" name="work_id" value="{$pro_info['work_id']}">
</form>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
    </ul>

    <div class="page-header clearfix">
        <a href="{:U('Work/WorkList')}" class="btn btn-default btn-primary">返回</a>
    </div>

    <!--表格内容-->
    <div class="content-box-content">
        <div class="form-group">
            <label class="col-sm-1 control-label">作品ID：</label>
            <div class="col-sm-10">
                <label class="form-control">{$work['work_id']}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">作品名称：</label>
            <div class="col-sm-10">
                <label class="form-control">{$work['name']}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">作品来源：</label>
            <div class="col-sm-10">
                <label class="form-control">{$work['article_type']}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">作品类型：</label>
            <div class="col-sm-10">
                <label class="form-control">
                    <if condition="$work['type'] eq 3">
                        文章
                        <elseif condition="$work['type'] eq 2"/>
                        视频
                        <elseif condition="$work['type'] eq 1"/>
                        图片
                    </if>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">作品查看：</label>
            <div class="col-sm-10" style="border: 2px solid;margin: 5px">
                <div><img style="max-height: 300px" src="__ROOT__/Uploads/{$work['article_head']}"></div>
                <div>
                    {$work['article']}
                </div>
            </div>
        </div>

        <div class="col-sm-12 form-group">
            <label class="col-sm-1 control-label">操作：</label>
            <div class="col-sm-10">
                <if condition="($work['status'] eq 0) OR ($work['status'] eq 2)">
                    <a href="{:U('Work/verifyWork',array('work_id'=>$work['work_id'],'status'=>1))}" class="btn btn-default btn-primary">审核通过</a>&nbsp;&nbsp;&nbsp;
                    <a href="{:U('Work/verifyWork',array('work_id'=>$work['work_id'],'status'=>2))}"  class="btn btn-default btn-primary">审核不通过</a>&nbsp;&nbsp;&nbsp;
                    <elseif condition="$work['status'] eq 1"/>
                    <a href="{:U('Work/verifyWork',array('work_id'=>$work['work_id'],'status'=>2))}"  class="btn btn-default btn-primary">置为未通过审核作品</a>&nbsp;&nbsp;&nbsp;
                </if>
                <a href="{:U('Work/WorkList')}" class="btn btn-default btn-primary">返回</a>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
