<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <div class="content-box">

        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
        </ul>

        <div class="page-header clearfix">
            <h3>4A用户</h3>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">普通用户添加</a>
                </li>
                <li>
                    <a href="{:U('Online/addOnline')}">添加4A用户</a>
                </li>
                <!---<li>
                    <a href="{:U('Originality/addOcreative')}">添加创意人</a>
                </li>-->
            </ul>
        </div>
        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <form action="{:U('Member/addMem')}" method="post" class="form-horizontal">
                <div class="form-group ">
                    <label for="m_account" class="col-sm-3 control-label"><em class="prompt-red">*</em>用&nbsp;户&nbsp;名：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="m_account" name="m_account" placeholder="想一个创意的用户名吧">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="m_email" class="col-sm-3 control-label"><em class="prompt-red">*</em>邮&nbsp;&nbsp;&nbsp;箱：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="m_email" name="m_email" placeholder="12345678@qq.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="m_password" class="col-sm-3 control-label"><em class="prompt-red">*</em>登录密码：</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="m_password" name="m_password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pay_pwd" class="col-sm-3 control-label"><em class="prompt-red">*</em>支付密码：</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pay_pwd" name="pay_pwd">
                    </div>
                </div>
                <div class="form-group">
                    <label for="deposit" class="col-sm-3 control-label"><em class="prompt-red">*</em>预设资产（元）：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="deposit" value="0" name="deposit">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-default btn-primary">确认添加</button>
                    </div>
                </div>
            </form>
            <!--表单 end-->
        </div>
    </div>
</div>
<include file="Public:footer"/>
