<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<style type="text/css">
    a{
        cursor: pointer;;
    }
    .ad-fixed{
        max-width: 500px;
    }
    .table-striped{
        table-layout: fixed;
    }
    .content-box-table .tbody td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
    </ul>

    <include file="Public:notification"/>
    <div class="search-content">
        <form action="{:U('Member/checkPrize')}" method="post" class="search-form form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="con_mid">用户编号</label>
                <input class="earch-input form-control" id="con_mid" type="text" name="con_mid" placeholder="用户编号"/>　
            </div>
            <button type="submit" class="btn derive">查询</button>
        </form>
    </div>
    <div class="content-box-table content-box-content">
        <table class="table table-striped table-framed table-hover">
            <thead>
            <tr>
                <th width="100">证书编号</th>
                <th width="100">用户编号</th>
                <th width="100">获奖类型</th>
                <th width="100">status</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody class="tbody">
            <if condition="empty($prize_list)">
                <tr>
                    <td colspan="20"><span style="font-size:14px;">暂无数据</span></td>
                </tr>
            </if>
            <volist name="prize_list" id="prize_list">
                <tr>
                    <td>{$prize_list['p_id']}</td>
                    <td>{$prize_list['m_id']}</td>
                    <td>{$prize_list['type']}</td>
                    <td>{$prize_list['status']}</td>
                    <td>
                        <a href="{:U('Member/checkPrizeShow',array('p_id'=>$prize_list['p_id']))}">查看详情</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<include file="Public:footer"/>