<include file="Public:header"/>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<style>
    .form-horizontal .control-label{
        padding-top: 0px;
    }
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active"><a href="">用户详情</a></li>
        <li class="active"><a href="">{$da['user_account']}用户的详细资料</a></li>
    </ul>

    <div id="tabs-content" class="content-box-content">
        <div class="ul">
            <form class="form-horizontal col-sm-12" >
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">头像：</label>
                    <div class="col-sm-9">
                        <if condition="!empty($da['user_img'])"><br/>
                            <img src="__WEBROOT__/Uploads/Head/{$da['user_img']}" width="150px" height="150px">
                            <else/>
                            <img src="__WEBROOT__/Uploads/Head/default/default.jpg" width="150px" height="150px">
                        </if>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">手持身份证：</label>
                    <div class="col-sm-9">
                        <if condition="!empty($da['user_identity_c'])"><br/>
                            <img src="__WEBROOT__/Uploads/{$da['user_identity_c']}" width="200px">
                            <else/>
                            待完善
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">身份证正面：</label>
                    <div class="col-sm-9">
                        <if condition="!empty($da['user_identity_a'])"><br/>
                            <img src="__WEBROOT__/Uploads/{$da['user_identity_a']}" width="200px">
                            <else/>
                            待完善
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">身份证背面：</label>
                    <div class="col-sm-9">
                        <if condition="!empty($da['user_identity_b'])"><br/>
                            <img src="__WEBROOT__/Uploads/{$da['user_identity_b']}" width="200px">
                            <else/>
                            待完善
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">身份证号码：</label>
                    <div class="col-sm-9">
                        <span>{$da['identity']}</span>
                    </div>
                </div>
               
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">用户昵称：</label>
                    <div class="col-sm-9">
                        <span>{$da['user_account']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">性别：</label>
                    <div class="col-sm-9">
                       <if condition="$da['user_age'] eq 1">
                            <i>男</i>
                        <elseif condition="$da['user_age'] eq 2"/>
                            <i>女</i>
                        <elseif condition="$da['user_age'] eq 3"/>
                            <i>保密</i>
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">年龄：</label>
                    <div class="col-sm-9">
                        <span>{$da['user_age']}</span>
                    </div>
                </div>
                
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">支付宝账号：</label>
                    <div class="col-sm-9">
                        <span>{$da['alipayid']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">真实姓名：</label>
                    <div class="col-sm-9">
                        <span>{$da['user_name']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">邮箱：</label>
                    <div class="col-sm-9">
                       <span>{$da['login_email']}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">电话：</label>
                    <div class="col-sm-9">
                        <span>{$da['login_number']}</span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">是否实名认证：</label>
                    <div class="col-sm-9">
                        <if condition="$da['user_status'] eq 0">
                            <i style="color: grey">未实名</i>
                            <elseif condition="$da['user_status'] eq 1"/>
                            <i style="color: green">待审核</i>
                            <elseif condition="$da['user_status'] eq 2"/>
                            <i style="color: #B06930">已实名</i>
                            <elseif condition="$da['user_status'] eq 3"/>
                            <i style="color: red">审核不通过</i>
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">是否推荐：</label>
                    <div class="col-sm-9">
                        <if condition="$member['is_recommend'] eq 1">
                            <i style="color: green">是</i>
                            <else/>
                            否
                        </if>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" onclick="history.go(-1);" class="btn btn-default btn-primary">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file="Public:footer"/>