<include file="Public:header"/>
<script src="__WEBPUBLIC__/Home/js/plugins/ajaxfileupload.js"></script>
<link rel="stylesheet" href="__WEBPUBLIC__/Home/DatePicker/lhgcalendar.css" type="text/css"/>
<script src="__WEBPUBLIC__/Common/DatePicker/lhgcore.js"></script>
<script src="__WEBPUBLIC__/Common/DatePicker/lhgcalendar.js"></script>
<style>
    .skill-tag{
        margin-right: 10px;
        float: left;
        background: #ccc;
        padding: 1px 24px 1px 10px;
        font-size: 12px !important;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 5px;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }
    .task-tag a{
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 4px;
    }
    #t_id{
        margin-left: 10px;
        margin-top: 7px;
    }
    .file-box .glyphicon{
        position: absolute;
        right: 5px;
        margin-top: 7px;
    }
    .form-control a{
        cursor: pointer;
    }
    .form-control img{
        border: 4px solid #222;
        margin-top: -100%;
        margin-left: 100px;
        display: none;
        z-index: 999;
        position: relative;
    }
</style>
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">4A订单</a></li>
        <li class="active">订单详情</li>
    </ul>

    <div id="tabs_content" class="content-box-content">
        <div class="ul">
            <div class="form-horizontal">
                <div class="form-group">
                    <input type="hidden" id="m_id" value="{$list['id']}">
                    <label class="col-sm-3 control-label">项目编号：</label>
                    <div class="col-sm-9">
                        <label id="x_id">{$list['id']}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">主题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ordersubject" name="ordersubject" value="{$list['ordersubject']}" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">需求类型：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ordertype" name="ordertype" value="{$list['ordertype']}" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">稿件数量：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ordernumber" name="ordernumber" value="{$list['ordernumber']}" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">投放渠道：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="orderchannel" name="orderchannel" value="{$list['orderchannel']}" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">背景介绍：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="projectbackground" onchange="valChange(this)">{$list['projectbackground']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">文案需求：</label>
                    <div class="col-sm-9">
                        <if condition="$list['copystatus'] eq 0">
                            <input type="radio" class="form" id="copystatus" value="0" name="copystatus" checked="checked">创意人提供文案
                            <input type="radio" class="form" id="copystatus" value="1" name="copystatus">已有现成文案
                        </if>
                        <if condition="$list['copystatus'] eq 1">
                            <input type="radio" class="form" id="copystatus" value="0" name="copystatus" >创意人提供文案
                            <input type="radio" class="form" id="copystatus" value="1" name="copystatus" checked="checked"">已有现成文案
                        </if>     
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">风格调性：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="styleandtone" onchange="valChange(this)">{$list['styleandtone']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">必要元素：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="elements" onchange="valChange(this)">{$list['elements']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">杜绝元素：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="eliminateelements" onchange="valChange(this)">{$list['eliminateelements']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">文件格式：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="orderformat" name="orderformat" value="{$list['orderformat']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">色彩模式：</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="ordercolor" name="ordercolor" value="{$list['ordercolor']}">      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">画面尺寸：</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="picturesize" name="picturesize" value="{$list['picturesize']}">      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">出血尺寸：</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="bleedingsize" name="bleedingsize" value="{$list['bleedingsize']}">      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">分辨率：</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="distinguish" name="distinguish" value="{$list['distinguish']}">      
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">文件大小：</label>
                    <div class="col-sm-9">
                         <input type="text" class="form-control" id="filesize" name="filesize" value="{$list['filesize']}">      
                    </div>
                </div>
                <if condition="$list['orderstatus'] eq 0">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">推荐创意人：</label>
                        <select type="text" style="width: 200px;display: inline-block;margin-left: 15px" class="form-control" id="skills" name="task-player">
                            <option value="0">选择创意人</option>
                        </select>
                    </div>
                    <div class="form-group" style="width: 80%;float:right;">
                        <div class="self-box-style">
                            <div class="skill-tag-list"></div>
                        </div>
                    </div>
                </if>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <if condition="$list['orderstatus'] eq 0">
                        <a onclick="approve();" class="btn btn-default btn-primary">发布</a>&nbsp;&nbsp;&nbsp;
                    </if>
                    <if condition="$list['orderstatus'] gt 1">
                        <a href="{:U('Order/manuscript',array('id'=>$list['id']))}" class="btn btn-default btn-primary">查看稿件</a>
                    </if>
                    <a href="javascript:history.go(-1);" class="btn btn-default btn-primary">返回</a>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

<script>
    $(function(){
        var skill = JSON.parse('{$skills}');
        var html = "";
        for (var i = 0; i < skill.length; i++) {
            html += "<option value='" + skill[i]['people_id'] + "'" + ">" + skill[i]['people_name'] + "</option>"
        }
        $("#skills").append(html).change(function() {
            var people_id = $(this).val();
            var i = $(this).val();
            var obj = $("#skills>option[value=\"" + i + "\"]");
            i = obj.index();
            if (i == 0) return;
            if ($(".skill-tag-list p.skill-tag").length < 3) {
                var s = obj.text().trim();
                if (s) {
                    var html = "";
                    html += '<p class="skill-tag" data-id="' + people_id + '" value="'+people_id+'"><a class="fa fa-close" style="color:#000;">X&nbsp;</a>';
                    html += s;
                    html += '</p>';
                    var tag = $(html);
                    tag.children('a.fa').click(function () {
                        $(this).hide();
                        tag.animate({'width': 0, 'padding-left': 0, 'padding-right': 0, 'margin-left': 0, 'margin-right': 0}, 300, function () {
                            obj.show(0);
                            tag.remove();
                        })
                    });

                    $(".skill-tag-list").append(tag);
                    var w = tag.outerWidth();
                    tag.width(0).animate({'width': w}, 300);
                }
                obj.hide(0);
            } else {
                alert('最多只能选择三个创意人');
            }
            $("#skills").val(0);
        });
        $(".selfinfo-text-box-operate.sks.kai").one('click',function(){
            var sks = "{$mem.common_skill}";
            sks = sks.split(',');
            for(var i = 0;i<sks.length;i++){
                var obj = $("#skills>option[value=\""+sks[i]+"\"]");
                var k = obj.index();
                $("#skills").val(k).change();
            }
            $("#skills").val(0).change();
        });
    })
</script>
<!-- 提交 -->
<script>

    function approve(){
        var tags = [];
        $(".skill-tag-list p.skill-tag").each(function(){
            tags.push($(this).data('id'));
        });
        var data = {
            'id':$('#m_id').val(),
            'ordersubject':$("#ordersubject").val(),
            'ordertype':$("#ordertype").val(),
            'orderchannel':$("#orderchannel").val(),
            'projectbackground':$("#projectbackground").val(),
            'copystatus':$('#copystatus:checked').val(),
            'styleandtone':$("#styleandtone").val(),
            'elements':$("#elements").val(),
            'eliminateelements':$("#eliminateelements").val(),
            'ordercolor':$("#ordercolor").val(),
            'picturesize':$("#picturesize").val(),
            'bleedingsize':$("#bleedingsize").val(),
            'distinguish':$("#distinguish").val(),
            'filesize':$("#filesize").val(),
            'recommend':tags.join(','),
        };
        $.ajax({
            url: "{:U('Order/revision')}",
            type: 'post',
            data: data,
            dataType:'json',
            success: function (data){
                if (data.success) {
                    alert(data.success);
                    window.location.reload();//刷新当前页面.
                } else {
                    alert(data.error);
                }
            }
        })
    }


</script>

<include file="Public:footer"/>