<include file="Public:header"/>
<script src="__WEBPUBLIC__/Home/js/plugins/ajaxfileupload.js"></script>
<link rel="stylesheet" href="__WEBPUBLIC__/Home/DatePicker/lhgcalendar.css" type="text/css"/>
<script src="__WEBPUBLIC__/Common/DatePicker/lhgcore.js"></script>
<script src="__WEBPUBLIC__/Common/DatePicker/lhgcalendar.js"></script>
<style>
    .task-tag-list{
        width: 600px;
    }
    .task-tag{
        background: #ccc;
        padding: 6px 24px 6px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 5px;
        word-break:break-all;
        position: relative;
    }
    .task-tag a{
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 4px;
    }
    #t_id{
        margin-left: 10px;
        margin-top: 7px;
    }
    .file-box{
        position: relative;
        margin-bottom: 15px;
    }
    .file-box .glyphicon{
        position: absolute;
        right: 5px;
        margin-top: 7px;
    }
    .form-control a{
        cursor: pointer;
    }
    .form-control img{
        border: 4px solid #222;
        margin-top: -100%;
        margin-left: 100px;
        display: none;
        z-index: 999;
        position: relative;
    }
    #bid_start_time,#bid_end_time{
        display: inline-block;
        width: 30%;
    }
</style>
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">项目管理</a></li>
        <li class="active">项目详情</li>
    </ul>

    <div class="page-header clearfix">
        <h3>项目管理</h3>
        <ul id="tabs" class="nav nav-tabs">
            <li>
                <a href="{:U('Task/taskList')}">项目列表</a>
            </li>
            <li class="active">
                <a href="javascript:;">项目详情</a>
            </li>
        </ul>
    </div>
    <div id="tabs_content" class="content-box-content">
        <div class="ul">
            <div class="form-horizontal">
                <div class="form-group">
                    <input type="hidden" id="m_id" value="{$task['t_id']}">
                    <label class="col-sm-3 control-label">项目编号：</label>
                    <div class="col-sm-9">
                        <label id="t_id">{$task['t_id']}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">主题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" value="{$task['name']}" id="name" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">品类：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" value="{$task['category']}" id="name" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" value="{$task['product']}" id="name" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">目的：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" value="{$task['objective']}" id="name" onchange="valChange(this)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">首页项目列表图片：</label>
                    <div class="col-sm-9">
                        <input id="picture" type="hidden" value="{$task['picture']}">
                        <if condition="!empty($task['picture'])">
                            <img class="picture" src="__WEBROOT__/Uploads/{$task['picture']}" width="400px" style="margin-right: 20px">
                            <a class="btn btn-default btn-primary" onclick="$(this).next().click()">更换</a>
                            <else/>
                            <img class="picture" width="400px" style="margin-right: 20px;display: none;">
                            <a class="btn btn-default btn-primary" onclick="$(this).next().click()">上传</a>
                        </if>
                        <input id="fileToUpload" style="display: none" type="file" name="Filedata" onchange="uploadImg()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">背景介绍：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="back_info" onchange="valChange(this)">{$task['back_info']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">创意要求：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="back_info" onchange="valChange(this)">{$task['requirement']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">注意事项：</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="8" style="width: 600px;height: 100px" id="back_info" onchange="valChange(this)">{$task['becareful']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">金额：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="money" name="name" value="{$task['money']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">人数：</label>
                    <div class="col-sm-9">
                        <if condition="$task.max_player_num elt 8">
                            <input type="text" class="form-control" id="max_player_num" name="name" value="{$task['max_player_num']}">
                        </if>
                        <if condition="$task.max_player_num gt 8">
                            <input type="text" class="form-control" id="max_player_num" name="name" value="无限制">
                        </if>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label">投稿时间：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bid_start_time" name="bid_start_time" onclick="J.calendar.get({to:'bid_end_time,min'})" value="{$task['bid_start_time']|date='Y-m-d H:i:s',###}" readonly="true" >
                        —
                        <input type="text" class="form-control" id="bid_end_time" name="bid_end_time" onclick="J.calendar.get({to:'bid_start_time,max'});" value="{$task['bid_end_time']|date='Y-m-d H:i:s',###}" readonly="true" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目文件资料：</label>
                    <if condition="!empty($file[0])">
                        <div class="col-sm-9" data-name="file">
                            <volist name="file" id="f" key="k">
                                <div class="form-control file-box">
                                    <if condition="!$f['isImg']">
                                        <a target="_blank" href="__WEBROOT__/Uploads/{$f.url}">项目文件资料{$k}(点击下载查看)</a>
                                        <else/>
                                        <a href="__WEBROOT__/Uploads/{$f.url}" data-val="{$f.url}" target="_blank" class="file-img">项目图片{$k}</a>
                                        <img src="__WEBROOT__/Uploads/{$f.url}" width="600"/>
                                    </if>
                                    <a class="glyphicon glyphicon-remove"></a>
                                </div>
                            </volist>
                        </div>
                    </if>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <if condition="$task.status eq 0">
                        <a onclick="approve();" class="btn btn-default btn-primary">保存并通过</a>&nbsp;&nbsp;&nbsp;
                        <a onclick="notApprove();" class="btn btn-default btn-primary">不通过</a>&nbsp;&nbsp;&nbsp;
                    </if>
                    <if condition="$task.status eq 1">
                        <a onclick="notApprove();" class="btn btn-default btn-primary">不通过</a>&nbsp;&nbsp;&nbsp;
                    </if>
                    <a href="javascript:history.go(-1);" class="btn btn-default btn-primary">返回</a>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
<!--主页面 end-->
<script>
    //审核 通过
    function approve(){
        $.ajax({
            type: 'post',
            url: "{:U('Task/approve')}",
            data:{
                'flag': 1,
                't_id': $('#t_id').text(),
                'm_id': $('#m_id').val(),
                'name': $('#name').val(),
                'picture': $('#picture').val(),
                'back_info': $('#back_info').val(),
                'bid_start_time':_getTime($('#bid_start_time').val()),
                'bid_end_time':_getTime($('#bid_end_time').val())
            },
            success: function (data) {
                data = JSON.parse(data);
                if (data.success) {
                    alert(data.success);
                    var url = "{:U('Task/taskList')}";
                    window.location.href = url;
                }
                else {
                    alert(data.error);
                }
            },
        })
    }
    //审核 不通过
    function notApprove(){
        $.ajax({
            type: 'post',
            url: "{:U('Task/approve')}",
            data:{
                'flag': 0,
                't_id': $('#t_id').text(),
                'm_id': $('#m_id').val(),
                'name': $('#name').val(),
            },
            success: function (data) {
                data = JSON.parse(data);
                if (data.success) {
                    alert(data.success);
                    var url = "{:U('Task/taskList')}";
                    window.location.href = url;
                }
                else {
                    alert(data.error);
                }
            },
        })
    }

    function valChange(t){
        $("input[name='"+$(t).attr('id')+"'").val($(t).val());
    }

    /****************************************************图片上传******************************************************/
    function uploadImg() {
        $.ajaxFileUpload({
            url:"{:U('Task/uploadPicture')}",
            fileElementId:'fileToUpload',//file标签的id
            dataType: 'json',//返回数据的类型
            success: function (data, status) {
                //把图片替换
                $('#fileToUpload').change(uploadImg).prev().text("更换");
                $("#picture").val(data.fileurl);
                $(".form-group .picture").show().attr("src", "__ROOT__/Uploads"+data.fileurl);
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    /****************************************************标签功能******************************************************/
    $(function(){
        $('a.glyphicon.glyphicon-remove').click(removeTag);
        $('.task-tag-list').each(function(){
            saveTag($(this));
            $(this).next().next().click(createTag);
        })
        function createTag(){
            var t = $(this);
            var tag_list = t.prev().prev();
            var s = t.prev().val().trim();
            if(s){
                var html = "";
                html += '<p class="task-tag"><a class="glyphicon glyphicon-remove"></a>';
                html += s;
                html +='</p>';
                var tag = $(html);
                tag.hide().children('a.glyphicon.glyphicon-remove').click(removeTag);
                t.prev().val('');
                tag_list.append(tag);
                tag.slideDown(300);
                saveTag(tag_list);
            }
        }

        function removeTag(){
            $(this).hide();
            var tag = $(this).parent();
            var tag_list = tag.parent();
            tag.slideUp(300,function(){
                tag.remove();
                saveTag(tag_list);
            })
        }

        function saveTag(t){
            var tags = [];
            var tagname = t.data("name");
            if(tagname == 'file'){
                t.find(".file-box").each(function(){
                    tags.push($(this).children('a').eq(0).data('val'));
                });
            }else{
                t.children("p.task-tag").each(function(){
                    tags.push($(this).text());
                });
            }
            t.children("input").val(tags.join(','));
        }
    });

    /*****************************************************附件*********************************************************/
    $(function(){
        $(".file-img").hover(function(){
            var img = $(this).next();
            var h = img.height();
            img.css({'margin-top':-(h>>1)+20,'display':'inline'}).animate({'opacity':1,'margin-top':-(h>>1)-20});
        },function(){
            var img = $(this).next();
            var h = img.height();
            img.animate({'opacity':0,'margin-top':-(h>>1)+20},function(){img.hide(0)});
        })
    })

    /**
     *
     * @param 时间字符串
     * @private
     */
    function _getTime(str){
        str = str.replace(/-/g,'/');
        var date = new Date(str);
        var t = date.getTime()/1000;
        if(isNaN(t))return '';
        else return t;
    }
</script>
<include file="Public:footer"/>