<include file="Public:header"/>
<!--时间-->
<script type="text/javascript" src="__WEBPUBLIC__/Common/DatePicker/lhgcore.js"></script>
<script type="text/javascript" src="__WEBPUBLIC__/Common/DatePicker/lhgcalendar.js"></script>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">投标管理</a></li>
        <li class="active">修改任务</li>
    </ul>

    <div class="page-header clearfix">
        <h3>投标管理</h3>
        <ul id="tabs" class="nav nav-tabs">
            <li>
                <a href="{:U('Task/taskList')}">任务列表</a>
            </li>
            <li class="active">
                <a href="javascript:;">编辑任务</a>
            </li>
        </ul>
    </div>
    <div id="tabs_content" class="content-box-content">
        <div class="ul">
            <form action="{:U('Task/editTask')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                <input type="hidden" name="t_id" value="{$task['t_id']}">
                <div class="form-group">
                    <label for="m_account" class="col-sm-3 control-label">发&nbsp;布&nbsp;人：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="m_account" name="m_account" value="{$task['m_account']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="t_title" class="col-sm-3 control-label">需求标题：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="t_title" name="t_title" value="{$task['t_title']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="need_people" class="col-sm-3 control-label">需求人数：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="need_people" name="need_people" value="{$task['need_people']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rank" class="col-sm-3 control-label">排　　序：</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="rank" name="rank" value="{$task['rank']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="t_brief" class="col-sm-3 control-label">创意简报：</label>
                    <div class="col-sm-9">
                        <textarea name="t_brief" id="t_brief" rows="5" cols="90">{$task['t_brief']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务logo：</label>
                    <div class="col-sm-9">
                        <input type="file" class="text-input" name="t_logo">
                        <if condition="!empty($task['t_logo'])">
                        <div class="t_logo">
                            <img src="__WEBROOT__/Uploads/Task/{$task['t_logo']}" width="20%" height="20%">
                            <input style="display: none" name="t_logo1" id="t_logo1" value="{$task['t_logo']}"/>
                        </div>
                        </if>
                        <div class="prompt-div">图片的大小请设置成(835*420)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">投标时间：</label>
                    <div class="col-sm-9">
                        <span>
                            <input type="text" id="bid_start_time" name="bid_start_time" class="text-input" style="width:270px;"  placeholder="投标起始时间" onclick="J.calendar.get({to:'bid_end_time,min'});" onfocus="this.blur()" value="{$task['bid_start_time']|date='Y-m-d',###}"/>
                            <i class="icon glyphicon glyphicon-calendar start-time-icon"></i>
                        </span>
                        <span>
                            <input type="text" id="bid_end_time" name="bid_end_time"  class="text-input" style="width:270px;"  placeholder="投标结束时间" onclick="J.calendar.get({to:'bid_start_time,max'});" onfocus="this.blur()" value="{$task['bid_end_time']|date='Y-m-d',###}"/>
                            <i class="icon glyphicon glyphicon-calendar end-time-icon"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">选标时间：</label>
                    <div class="col-sm-9">
                        <span>
                            <input type="text" id="choose_start_time" name="choose_start_time" class="text-input" style="width:270px;"  placeholder="选标起始时间" onclick="J.calendar.get({to:'choose_end_time,min'});" onfocus="this.blur()" value="{$task['choose_start_time']|date='Y-m-d',###}"/>
                            <i class="icon glyphicon glyphicon-calendar start-time-icon"></i>
                        </span>
                        <span>
                            <input type="text" id="choose_end_time" name="choose_end_time"  class="text-input" style="width:270px;" placeholder="选标结束时间" onclick="J.calendar.get({to:'choose_start_time,max'});" onfocus="this.blur()" value="{$task['choose_end_time']|date='Y-m-d',###}"/>
                            <i class="icon glyphicon glyphicon-calendar end-time-icon"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rank" class="col-sm-3 control-label">是否结束：</label>
                    <div class="col-sm-9">
                         <select class="form-control" id="t_end" name="t_end">
                             <option value="0" <if condition="$task['t_end'] eq 0">selected</if>>否</option>
                             <option value="1" <if condition="$task['t_end'] eq 1">selected</if>>是</option>
                         </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-default btn-primary">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--主页面 end-->
<script type="text/javascript">
</script>
<include file="Public:footer"/>