<include file="Public:header"/>
<!--ajax上传插件-->
<script type="text/javascript" src="__WEBPUBLIC__/Common/js/ajax-file-upload.js"></script>
<!--ajax上传插件-->
<style >
    .col-sm-9 p.a2{width:245px;height:150px;position:relative;}
    .col-sm-9 p.a2 span{position:absolute;right:0;top:0;}
    .col-sm-9 p.a1{float:left;position:relative;}
    .col-sm-9 p.a1 span{position:absolute;right:0;top:0;}

</style>

<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active"><a href="#">项目管理</a></li>
        <li class="active">下一步</li>
    </ul>

    <div class="page-header clearfix">
        <h3>下一步</h3>
        <ul class="nav nav-tabs">
            <li>
                <a href="{:U('Task/taskList')}">项目列表</a>
            </li>
            <li class="active">
                <a  href="">下一步</a>
            </li>
        </ul>
    </div>

    <!--表格内容-->
    <div class="content-box-content">
        <form class="form-horizontal" >
            <div class="form-group">
                <label class="col-sm-3 control-label">上传图片：</label>
                <div class="col-sm-9">
                    <input type="file" class="tab4_file" style="display: none;" id="pic1" name="pic1" onchange="ajaxUploadIndexPic();" >
                    <button type="button" onclick="uploadIndexPic()"  class="btn btn-default btn-primary">上传小图片</button>&nbsp;&nbsp;&nbsp;
                    用于首页列表显示，建议尺寸245*150。大小请限制在10M以内。
                </div>
            </div>
            <if condition ="$task_info['picture'] neq null">
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9 ">
                        <p class="a2">
                            <img src="__WEBROOT__/Uploads/Task/{$task_info['picture']}" width="245px" height="150px">
                            <span> <a onclick="delIndexPic();" class="close"><img  src="__WEBPUBLIC__/Home/images/close.jpg"></a></span>
                        </p>
                    </div>
                </div>
            </if>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="file" class="tab4_file" style="display: none;" id="pic" name="pic" onchange="ajaxUploadPic();" >
                    <button type="button" onclick="uploadPic()"  class="btn btn-default btn-primary">上传大图片</button>&nbsp;&nbsp;&nbsp;
                    显示于项目详情页面最上方，建议尺寸1423*475 。大小请限制在10M以内。
                </div>
            </div>
            <if condition ="$pic_arr[0] neq null">
                <volist name="pic_arr" id="pic">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9 clearfix">
                            <p class="a1">
                                <img src="__WEBROOT__/Uploads/Task/{$pic}" width="720px" height="200px">
                                <span> <a onclick="delPic({$key});" class="close"><img  src="__WEBPUBLIC__/Home/images/close.jpg"></a></span>
                            </p>
                        </div>
                    </div>
                </volist>
            </if>
            <div class="form-group">
                <label  for="brief" class="col-sm-3 control-label">编辑简介：</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="brief" onblur="addBrief();"  placeholder="把您的需求更完善，具体一点吧，需求越清晰，任务完成质量越高" style="width: 560px;height: 350px;" name="m_brief" >{$task_info['brief']}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上传文档：</label>
                <div class="col-sm-9">
                    <input type="file" class="tab4_file" style="display: none;" id="file" name="file" onchange="ajaxUploadFile_();" >
                    <button type="button" onclick="$('#file').click();" class="btn btn-default btn-primary">上传文档</button>&nbsp;&nbsp;&nbsp;
                    可以上传jpg,doc,ppt文件,文件大小请限制在10M以内。
                </div>
            </div>
            <if condition ="$file_arr[0] neq null">
                <volist name="file_arr" id="file">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <a onclick="delFile_({$key});" class="form-control" >文档资料  {$key+1} &nbsp;&nbsp;&nbsp;&nbsp;
                                删除</a>
                        </div>
                    </div>
                </volist>
            </if>
            <div class="form-group">
                <label class="col-sm-3 control-label">上传视频：</label>
                <div class="col-sm-9">
                    <button type="button" onclick="addVideo();" class="btn btn-default btn-primary">上传视频</button>&nbsp;&nbsp;&nbsp;
                    可以上传多个第三方视频。
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="text"  id="link"  class="form-control-award"  style="width: 400px;" placeholder="请输入第三方视频的地址">
                    <input type="text" id="video" class="form-control-award"   placeholder="请输入视频的名称" >
                </div>
            </div>
            <if condition ="$video_arr[0] neq null">
                <volist name="video_arr" id="video">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <a onclick="delVideo({$key});" class="form-control" target="_blank">{$video} &nbsp;&nbsp;&nbsp;&nbsp;
                                删除</a>
                        </div>
                    </div>
                </volist>
            </if>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <br/>
                    <!--<button type="button" onclick="window.location.reload();" class="btn btn-default btn-primary">刷新</button>&nbsp;&nbsp;&nbsp;-->
                    <button type="button" onclick="goTaskPre()" class="btn btn-default btn-primary">上一步</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" onclick="goTaskList();" class="btn btn-default btn-primary">保存</button>
                </div>
            </div>
            <br><br><br>
            </form>
        </div>
</div>
<include file="Public:footer"/>
<script>
    //上一步
    function goTaskPre(){
        window.location.href = "{:U('Task/editAddTaskSess',array('t_id'=>$task_info['t_id']))}";
    }
    //返回列表
    function goTaskList(){
        window.location.href = "{:U('Task/taskList')}";
    }
    /************************************上传图片************************************/
    /********项目详情页面上方 单张图片  **********/
    //点击上传图片
    function uploadPic(){
        if("{$pic_arr[0]}"){
            alert('只能上传一张大图片。')
        }else{
            $('#pic').click();
        }

    }
    //选中图片后上传
    function ajaxUploadPic(){
        //上传的目的url
        var destination ="{:U('Task/ajaxUploadFiles')}";
        ajaxFileUploadF('Task','logo','pic',destination);
    }
    //删除图片
    function delPic(pid){
        var destination = "{:U('Task/delFile')}";
        if(confirm("确定删除图片吗？")){
            delFile(pid,destination,'logo');
        }
    }
    /*********首页列表的 单张图片  ************/
    function uploadIndexPic(){
        if("{$task_info['picture']}"){
            alert('只能上传一张小图片。')
        }else{
            $('#pic1').click();
        }
    }
    //选中图片后上传
    function ajaxUploadIndexPic(){
        //上传的目的url
        var destination ="{:U('Task/ajaxUploadFiles')}";
        ajaxFileUploadF('Task','picture','pic1',destination,2);
    }
    //删除首页列表图片
    function delIndexPic(){
        var destination = "{:U('Task/delIndexPic')}";
        var position = 'picture';
        $.ajax({
            url:destination,
            type:"post",
            data:{
                position:position//要删除的文件在数据库中的字段
            },
            dataType:'json',
            success: function(data){
                //成功后刷新页面
                window.location.reload();
            }
        });
    }
    /************************************公共函数************************************/
    /**
     * 上传文件
     * @param folder 文件存放在Uploads文件夹下的文件夹名字
     * @param position 文件名字存放在数据库中字段名字
     * @param fileElementId 文件上传域的ID
     * @param destination 提交的目的url
     * @param isMulti 是否是多个文件 默认为1 是 若为2则为单文件
     * 上传成功后刷新页面
     */
    function ajaxFileUploadF(folder,position,fileElementId,destination,isMulti) {
        if(!isMulti){
            //如果不传入，则默认为 1
            isMulti = 1;
        }
        $.ajaxFileUpload({
            url: destination, //用于文件上传的服务器端请求地址
            type:'post',
            data:{
                folder:folder,//上传的文件夹
                position:position,//存放在数据库中的字段
                isMulti:isMulti//是否是多图
            },
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: fileElementId, //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            success: function (data)  //服务器成功响应处理函数
            {
                if(data.flag == 0){
                    //成功后刷新页面
                    window.location.reload();
                }else{
                    alert("上传失败");
                }
            }
        });
    }
    /**
     * 删除文件
     * @param i 删除的文件在相应数组中的索引
     * @param destination 提交的目的url
     * 删除成功后刷新页面
     */
    function delFile(index,destination,position){
        $.ajax({
            url:destination,
            type:"post",
            data:{
                index:index,//删除的文件在相应数组中的索引
                position:position//要删除的文件在数据库中的字段
            },
            dataType:'json',
            success: function(data){
                //成功后刷新页面
                window.location.reload();
            }
        });
    }
    /************************************上传简介************************************/
    //上传简介
    function addBrief(){
        //是否符合提交的条件
        var isSubmit = false;
        if($('#brief').val().length>0){
            isSubmit = true;
        }else{
            isSubmit = false;
        }
        if(isSubmit){
            $.ajax({
                url: "{:U('Task/addBrief')}",
                type: 'post',
                data:{
                    brief:$('#brief').val()
                },
                dataType:'json',
                success:function(data){
                    //更新页面
                    window.location.reload();
                }
            });
        }else{
            alert('任务需求不得少于100字哦!');
        }
    }
    /************************************上传文件************************************/
    //选中文件后上传
    function ajaxUploadFile_(){
        //上传的目的url
        var destination ="{:U('Task/ajaxUploadFiles')}";
        ajaxFileUploadF('Task','file','file',destination);
    }
    //删除文件
    function delFile_(fid){
        var destination = "{:U('Task/delFile')}";
        if(confirm("确定删除文件吗？")){
            delFile(fid,destination,'file');
        }
    }
    /************************************上传视频************************************/
    //添加视频
    function addVideo(){
        //添加前检查
        if(!$('#video').val()){
            alert('请填写视频名称!');
        }else if(!$('#link').val()){
            alert('请填写第三方视频链接地址!');
        }else{
            //提交视频信息
            var destination = "{:U('Task/addVideo')}";
            $.ajax({
                url:destination,
                type:'post',
                data:{
                    link: $('#link').val(),//视频链接
                    video: $('#video').val()//视频名称

                },
                dataType:'json',
                success:function(data){
                    //成功后刷新页面
                    window.location.reload();
                }
            });
        }
    }
    //删除视频
    function delVideo(vid){
        if(confirm('确定删除该视频吗？')){
            //删除
            var destination = "{:U('Task/delVideo')}";
            $.ajax({
                url:destination,
                type:'post',
                data:{
                    vid:vid//要删除的视频，在video_arr中的数组索引
                },
                dataType:'json',
                success:function(data){
                    //成功后刷新页面
                    window.location.reload();
                }
            });
        }
    }

</script>
